[[source]]
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
gunicorn = "*"
youtubedlapi-server-infusiblecoder = "*"

[dev-packages]
virtualenvwrapper = "*"
pip-tools = "*"
pipenv = ">=2022.1.8"
pre-commit = "*"
honcho = "*"

[requires]
python_version = "3.7"
