[[source]]
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
gunicorn = "*"
youtubedlapi-server-infusiblecoder = ">=2.6"

[dev-packages]
virtualenvwrapper = "*"
pip-tools = "*"
pipenv = "*"
pre-commit = "*"
honcho = "*"

[requires]
python_version = "3.7"
